@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Color and Font Variables */
:root {
    --background-color: black;
    --text-color: white;
    --primary-color: #DD1155;
    --font-primary: 'Krona One', sans-serif;
    --font-secondary: 'Montserrat', sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-secondary);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

button {
    background-color: var(--primary-color);
    border: none;
    color: var(--text-color);
    padding: 0.625rem 1.25rem; /* 10px 20px */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem; /* 16px */
    margin: 0.25rem 0.125rem; /* 4px 2px */
    cursor: pointer;
}

strong {
    color: var(--primary-color);
}

.presentacion__enlaces {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align the items horizontally */
    gap: 0.625rem; /* 10px */
    width: 100%; /* Ensure the container takes full width */
}

.presentacion__enlaces__link {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Align items vertically */
    justify-content: center; /* Center align the items horizontally */
    padding: 0.625rem 1.25rem; /* 10px 20px */
    font-size: 1rem; /* 16px */
    width: 15.625rem; /* 250px */
    color: var(--text-color);
    text-align: center;
    text-decoration: none;
    border-radius: 0.3125rem; /* 5px */
    border: 0.125rem solid var(--primary-color); /* 2px */
    cursor: pointer;
    gap: 0.625rem; /* 10px */
}

.presentacion__enlaces__link:hover {
    background-color: var(--primary-color);
}

h1 {
    font-size: 2.25rem; /* 36px */
    font-family: var(--font-primary);
    font-weight: 400;
    text-align: center;
    margin-bottom: 1.25rem; /* 20px */
    width: 100%;
    white-space: nowrap;
}

.presentacion {
    display: flex;
    flex-direction: column; /* Ensure elements are stacked vertically */
    align-items: center;
    margin: 5%;
    justify-content: center;
    font-family: var(--font-primary);
    font-weight: 400;
    font-style: normal;
}

.presentacion__contenido {
    width: 38.4375rem; /* 615px */
    display: flex;
    flex-direction: column;
    gap: 1.25rem; /* 20px */
    margin-top: 1.25rem; /* 20px */
}

.presentacion__contenido__titulo {
    font-size: 2.25rem;
}

.presentacion__contenido__texto {
    font-size: 1.125rem; /* 18px */
    line-height: 1.6;
    width: 100%; /* Ensure it takes full width of its container */
}

.presentacion__enlaces__subtitulo {
    font-size: 1.25rem; /* 20px */
    text-align: center;
    margin-bottom: 1.25rem; /* 20px */
    width: 100%; /* Match the width of .presentacion__contenido__texto */
    white-space: nowrap;
    overflow: visible; /* Ensure the text is not cut off */
}

.img-small {
    display: flex;
    width: 30%;
    height: auto;
    align-items: center;
}

.header, .footer {
    width: 100%;
    padding: 1.25rem; /* 20px */
    text-align: center;
}

.footer {
    position: relative;
    bottom: 0;
    font-size: 1rem; /* 16px */
    color: var(--text-color);
    background-color: var(--primary-color);
}

.navigation {
    display: flex;
    list-style: none;
    gap: 1.25rem; /* 20px */
}

.navigation__list {
    font-size: 1.875rem; /* 30px */
    list-style: none;
    cursor: pointer;
    margin: 0;
    padding: 0.3125rem 0.625rem; /* 5px 10px */
}

.navigation__list:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.logo {
    width: 12.5rem; /* 200px */
    height: auto;
    margin-right: 1.25rem; /* 20px */
}

