@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

button {
    background-color: #22162B;
    color: #eef0f2;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

strong {
    color: #DD1155;
}

.presentacion__enlaces__link {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    width: 250px;
    color: white;
    background-color: #DD1155;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.presentacion__enlaces__link:hover {
    background-color: #5f0034;
}

h1 {
    color: #DD1155;
}

.presentacion {
    display: flex;
    align-items: center;
    margin: 5%;
    justify-content: center;
    font-family: "Krona One", serif;
    font-weight: 400;
    font-style: normal;
}

.presentacion__contenido {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.img-small {
    display: flex;
    width: 20%;
    height: auto;
    align-items: center;
}

.presentacion__contenido__titulo {
    font-size: 36px;
}

.presentacion__contenido__texto {
    font-family: "Montserrat", serif;
    font-size: 24px;}

.presentacion__enlaces {
    display: flex;
    justify-content: space-between;
}
